.feature-panel {
  --padding: 2rem;
  --max-width: 25rem;
  border-radius: 1.25rem;
  position: relative;
  max-width: calc(100vw - 3rem);
  overflow: hidden;
}

@media screen and (max-width: 350px) {
  .feature-panel {
    border-radius: 0;
  }
}

.feature-panel .content {
  padding: var(--padding);
}

.feature-panel .title {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.feature-panel .subtitle {
  font-weight: var(--bold-font);
  font-size: var(--bigger-title-size);
  margin-bottom: 1.25rem;
}

.feature-panel .description {
  font-family: var(--display-font);
  font-weight: var(--semibold-font);
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.4rem;
  letter-spacing: 0.012em;
}

.feature-panel .button {
  padding: 0.75rem 1.25rem;
}

.feature-panel .image {
  display: block;
  margin-left: auto;
  --width: 90%;
  width: var(--width);
}

@media screen and (min-width: 734px) {
  .feature-panel .break-line {
    display: none;
  }

  .feature-panel {
    position: relative;
    --padding: 2.5rem;
    overflow: hidden;
  }

  .feature-panel .content {
    box-sizing: content-box;
    max-width: var(--max-width);
    padding-right: 0;
  }

  .feature-panel .title {
    margin-bottom: 5rem;
  }

  .feature-panel .subtitle {
    margin-bottom: 1.5rem;
  }

  .feature-panel .description {
    margin-bottom: 3.5rem;
  }

  .feature-panel .button {
    white-space: nowrap;
  }

  .feature-panel .image {
    --width: 32rem;
    --spacing: 1rem;
    position: absolute;
    bottom: 0;
    left: calc(var(--width) + var(--spacing));
  }
}

@media screen and (min-width: 1024px) {
  .feature-panel {
    --max-width: 31.25rem;
  }

  .feature-panel .title {
    margin-bottom: 5.5rem;
  }

  .feature-panel .description {
    margin-bottom: 4.5rem;
  }

  .feature-panel .image {
    --width: 45rem;
    --spacing: 0rem;
  }
}

/* CPU */
.feature-panel.cpu {
  background-image: linear-gradient(-135deg, #C6368A 0%, #673DC2 100%);
}

.feature-panel.cpu .subtitle .accent {
  color: #C48CFC;
}

.feature-panel.cpu .subtitle {
  font-size: 35px;
}


/* GPU */
.feature-panel.gpu .video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: var(--z-negative);
}

.feature-panel .characteristics-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 3rem;
  margin-bottom: 4rem;
  font-size: 1.25rem;
  text-align: center;
}

.feature-panel .characteristic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-panel .number {
  --size: 5rem;
  font-size: var(--size);
  font-family: var(--display-font);
  font-weight: var(--bold-font);
  line-height: 1;
}

.feature-panel .number .x {
  font-size: calc(var(--size) - 2rem);
}

.feature-panel .caption {
  font-weight: var(--bold-font);
}

@media screen and (min-width: 734px) {

  .feature-panel.gpu .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .feature-panel.gpu .content {
    max-width: initial;
  }

  .feature-panel.gpu .subtitle {
    font-size: 3rem;
  }

  .feature-panel.gpu .characteristics-container {
    gap: 0;
    padding-top: 3rem;
  }

  .feature-panel .number {
    --size: 6rem;
  }
}

@media screen and (min-width: 1024px)  {
  
  .feature-panel .characteristics-container {
    align-items: center;
    padding-inline: 2rem;
  }

  .feature-panel .number {
    --size: 9rem;
  }

  .feature-panel.gpu .subtitle {
    font-size: var(--bigger-title-size);
  }
}

/* Aprendizaje continuo */
.feature-panel.learning {
  background-image: linear-gradient(-135deg, #590A0D 0%, #10071C 100%);
}

.feature-panel.learning .description {
  font-size: var(--big-body-size);
  line-height: 1.2;
}

.feature-panel.learning .characteristics-container {
  font-weight: var(--medium-font);
}

.feature-panel .description .accent {
  color: var(--text-color-alt);
}

@media screen and (min-width: 734px) {

  .feature-panel.learning .characteristics-container {
    grid-template-columns: repeat(auto-fill, minmax(9.25rem,1fr));
    gap: 1rem;
    align-items: end;
  }

  .feature-panel.learning .number {
    --size: 5rem;
  }
}

@media screen and (min-width: 1024px) {

  .feature-panel .break-line-desktop {
    display: none;
  }

  .feature-panel.learning .content {
    max-width: 35rem;
  }

  .feature-panel .characteristics-container {
    grid-template-columns: repeat(auto-fill, minmax(12.5rem,1fr));
  }

  .feature-panel.learning .characteristic {
    font-size: 1rem;
  }
}

/* Big Sur */

.feature-panel .background-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-negative);
}

.feature-panel .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-panel.big-sur .subtitle {
  font-size: var(--normal-title-size);
  line-height: 1.05;
}

/* Velocidad y capacidad de respuesta */

.feature-panel.speed .description {
  margin-bottom: 3rem;
}

.feature-panel.speed .subtitle {
  text-align: center;
  line-height: 1;
}

.feature-panel.speed .first-line {
  display: inline-block;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 734px) {
  .feature-panel.speed .subtitle {
    font-size: var(--small-title-size);
  }
}

.feature-panel.speed .second-line,
.feature-panel.speed .background-container {
  opacity: 0.15;
  transition: opacity 500ms;
}

.feature-panel.speed.is-active .second-line,
.feature-panel.speed.is-active .background-container {
  opacity: initial;
}

/* Subgrid de características */
.sub-grid {
  --gap: 1.5rem;
  display: grid;
  gap: var(--gap);
}

.sub-grid .feature-panel .title {
  margin-bottom: 1.25rem;
}

.sub-grid .feature-panel .content {
  padding-right: var(--padding);
}

@media screen and (min-width: 734px) {
  .sub-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .sub-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .feature-panel.feature-panel.speed {
    grid-column-start: span 3;
  }

  .feature-panel.speed .subtitle {
    font-size: var(--bigger-title-size);
  }
}

/* Apps */
.feature-panel.apps .description {
  margin-bottom: 3rem;
}

.feature-panel.apps .apps-image {
  width: 90%;
  display: block;
  margin-inline: auto;
}

@media screen and (min-width: 1024px) {
  .feature-panel.feature-panel.apps {
    grid-column-start: span 3;
  }
}

/* Diseño compacto */
.feature-panel.feature-panel.compact {
  background-color: var(--bg-color);
}

.feature-panel.compact .content {
  padding-bottom: 0;
}

.feature-panel.compact .description {
  margin-bottom: 1.25rem;
}

.feature-panel.compact .video-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: var(--padding);
  padding-top: 0;
}

.feature-panel.compact .video {
  width: 6rem;
}

.feature-panel.compact .subtitle {
  margin-bottom: 0;
  background-image: linear-gradient(-120deg, #F50581 0%, #F81337 100%);
  background-size: 100% 200%;
  background-position: 50% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 734px) {
  .feature-panel.compact .subtitle {
    font-size: 2.5rem;
  }
} 

@media screen and (min-width: 1024px) {
  .feature-panel.compact {
    grid-column-start: span 4;
    position: relative;
  }

  .feature-panel.compact .content {
    max-width: initial;
  }

  .feature-panel.compact .description {
    max-width: var(--medium-max-width);
    margin-bottom: 8rem;
  }

  .feature-panel.compact .subtitle {
    font-size: 4rem;
    max-width: 30rem;
  }

  .feature-panel.compact .video-container {
    flex-direction: row;
    gap: 2rem;
    padding: 0 0 4rem;
    justify-content: center;
    align-items: flex-end;
  }

  .feature-panel.compact .video {
    width: 8rem;
    height: 16rem;
  }
}


/* Memoria unificada */
.feature-panel.memory .title,
.feature-panel.memory .description {
  margin-bottom: 0;
}

.feature-panel.memory .icon {
  width: auto;
  margin-bottom: 1.25rem;
}

.feature-panel.memory .description {
  font-size: var(--big-body-size);
  line-height: var(--title-line-height);
}

.feature-panel.memory .wrapper {
  padding: 9rem 0;
}

@media screen and (min-width: 734px) {

  .feature-panel.memory {
    display: flex;
  }

  .feature-panel.memory .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .feature-panel.memory .wrapper {
    padding: 0;
    margin: auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .feature-panel.memory {
    grid-column-start: 5;
    grid-column-end: 8;
  }
}

/* Almacenamiento  SSD */
.feature-panel.ssd {
  background-image: linear-gradient(-135deg, #A137BC 0%, #D83C48 100%);
}

.feature-panel.ssd .description {
  margin-bottom: 1rem;
}

.feature-panel.ssd .image-container {
  width: 32rem;
  height: 27rem;
}

.feature-panel.ssd .image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .feature-panel.ssd {
    grid-column-start: span 3;
  }

  .feature-panel.ssd .image-container {
    width: 44rem;
    height: 38rem;
  }
}